<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebUIAutomation" parallel="false" thread-count="1" verbose="10">

	<listeners>
		<listener class-name="com.avitas.qa.listeners.CustomListeners" />
	</listeners>
	
	<test name="SignInTest,AddToBag,ValidateBag">
		<classes>
			<class name="com.avitas.qa.automation.ui.SignInTest" />
			<class name="com.avitas.qa.automation.ui.BagTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
